    <footer class="contact-footer">
        <p class="contact-copy">© 2025 Matt Moot. All rights reserved.</p>
        <ul class="contact-social">
            <li class="contact-link">
                <a href="github.com/MattyMoot1"><i class="ri-github-fill"></i></a>
            </li>
            <li class="contact-link">
                <a href="https://www.linkedin.com/in/matthew-moot-714179166/"><i class="ri-linkedin-fill"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/matthewmooty9/"><i class="ri-instagram-fill"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/matthewmooty9/"><i class="ri-facebook-fill"></i></a>
            </li>
        </ul>
    </footer>